@tailwind base;
@tailwind components;
@tailwind utilities;
/* transparent-scrollbar.css */
/* ::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0);
} */
